.terminal {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    background: black;
    color: white;
    font-family: monospace;
}

.output {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    white-space: pre-wrap;
    overflow-y: hidden;
    padding: 20px;
}

.output-text {
    display: block;
    text-align: left;
    white-space: pre-wrap;
    word-break: break-word;
    font-family: monospace;
}

.prompt {
    margin-right: 4px;
    font-family: monospace;
}

.input {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.input input {
    flex-grow: 1;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-family: monospace;
}